<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    ">
    <context:annotation-config/>
    <!--Required Dependencies-->
    <!--<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>-->
    <!--start of Question no 3 and 4-->
    <bean class="com.test.resturant.Tea" id="teaRestaurant" />
    <bean class="com.test.resturant.ExpressTea" id="expressTeaRestaurant"/>
    <!--byName autowire means the instance name should be same as id or name of a bean-->
    <alias name="expressTeaRestaurant" alias="hotDrink"/>

    <bean class="com.test.resturant.Restaurant" id="restaurant">
        <!--<constructor-arg name="hotDrink" ref="teaRestaurant"/>-->
        <!--Setting instance value using property-->
        <!--<property name="hotDrink" ref="teaRestaurant"/>-->

        <!--Setting instance value usig inner bean Question 4-->
        <!--<property name="hotDrink">-->
            <!--<bean class="com.test.resturant.ExpressTea"/>-->
        <!--</property>-->
    </bean>
    <!--end of Question 3 & 4-->
    <!--Start of Question 5-->
    <bean class="com.test.complex.Complex">
        <property name="integerList">
            <list>
                <value>10</value>
                <value>20</value>
                <value>60</value>
                <value>40</value>
                <value>50</value>
            </list>
        </property>
        <property name="stringIntegerMap">
            <map>
                <entry key="10" value="1"/>
                <entry key="11" value="1"/>
                <entry key="12" value="1"/>
                <entry key="13" value="1"/>
                <entry key="14" value="1"/>
            </map>
        </property>
        <property name="stringSet">
            <set>
                <value>hello</value>
                <value>15</value>
                <value>hello</value>
            </set>
        </property>
    </bean>
    <!--End of Question 5-->

    <bean class="com.test.Database" >
        <property name="name" value="Mysql"/>
        <property name="port" value="3060"/>
    </bean>
</beans>